PORT=3005
NODE_ENV=development

# Database
PURCHASE_DB_HOST=localhost
PURCHASE_DB_PORT=5432
PURCHASE_DB_USER=postgres
PURCHASE_DB_PASSWORD=password
PURCHASE_DB_NAME=purchase_db

# Kafka (optional)
KAFKA_BROKER=localhost:9092
